<!DOCTYPE html>
<html lang="en">
<head>
  <title>Coconut Maturity Checker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand"> <b> Coconut Maturity Checker </b></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Welcome</a></li>
        <li><a href="project">Project</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="#">Coconut Data</a></li>
        <li><a href="#">Maturity Classifier</a></li>
      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left"> 
      <h1><b>Welcome</b></h1>
       <p> The project is a <strong> Coconut Maturity Checker</strong> .
        <br> 
         It is a device that can check the maturity by using Deep Learning. 
        <br>
         It would process three input parameters: color, shape, and sound.
	    <br>
		<br>
	    <img src="{{url_for('static', filename='coconut.png')}}" alt="Coconuts Pic"width="350" height="350">
        </p>
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>



</body>
</html>

